@page
@{
    ViewData["Title"] = "Home";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Changelog</title>
</head>
<body>
    <h1>Changelog</h1>
    <h2>[1.0.1] - 2024-06-07</h2>
    <h3>Fixed</h3>
    <ul>
        <li>Added Changelog page.</li>
        <li>Fixed Track Stats showing ratings of last user who voted as average for all users.</li>
        <li>Added password verification on registering new user.</li>
        <li>Rearranged Track Ratings column order for easier track identification with Artist.</li>
    </ul>

    <h2>[1.0.0] - 2024-06-06</h2>
    <h3>Added</h3>
    <ul>
        <li>First stable version of the application.</li>
        <li>Main functionalities implemented.</li>
    </ul>
</body>
</html>
