@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h2>Bienvenido, @User.Identity.Name</h2>
<h2>User Id:  @Model.UserId</h2>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
