@page
@model IndexModel
@{
    ViewData["Title"] = "Track Tracker";
}


    <div class="text-center">
        @if(@User.Identity.Name != null)
        {
            <h1 class="display-4">Welcome, @User.Identity.Name</h1>

            <form method="post">
                <button type="submit">Logout</button>
            </form>
        }
        else
        {
            <div>
                <a asp-page="/Users/UserLogin" class="btn btn-primary">Login</a>
                <a asp-page="/Users/UserRegister" class="btn btn-secondary">Register</a>
            </div>
        }
    </div>

