@page
@model ASPTrackTracker.Pages.Users.UserRegisterModel
@{
    ViewData["Title"] = "Register new account";
}

@if (@User.Identity.Name == null)
{
    <form method="post">
        <h2>Register new account</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label for="username">User Name</label>
            <input asp-for="UserName" class="form-control" id="username" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input asp-for="eMail" class="form-control" id="email" />
            <span asp-validation-for="eMail" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" asp-for="Password" class="form-control" id="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="repeatedpassword">Repeat password</label>
            <input type="password" asp-for="RepeatedPassword" class="form-control" id="repeatedpassword" />
            <span asp-validation-for="RepeatedPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn">Register</button>
    </form>
    <label class="text-danger" class="form-control">@Model.ErrorMessage</label>
}
else
{
    <h3>You are Logged as @User.Identity.Name, to logout head to Home.</h3>
    <a asp-page="/Index" class="btn btn-primary">Home</a>
}
