@page
@model ASPTrackTracker.Pages.Users.UserRegisterModel
@{
    ViewData["Title"] = "Register new account";
}

@if (@User.Identity.Name == null)
{
<h2>Register new account</h2>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <label>User Name</label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div>
        <label>Email</label>
        <input asp-for="eMail" class="form-control" />
        <span asp-validation-for="eMail" class="text-danger"></span>
    </div>
    <div>
        <label>Password</label>
        <input type="password" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit">Register</button>
</form>
        <label class="text-danger">@Model.errorMessage</label>
}
else
{
    <h3>You are Logged as @User.Identity.Name, to logout head to Home.</h3>
    <a asp-page="/Index" class="btn btn-primary">Home</a>
}
