:root {
    --color_db: #233142;
    --color_lb: #455d7a;
    --color_red: #9e1b32;
    --color_gr: #e3e3e3;
}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--color_db);
    font-family: 'Georgia, serif', monospace;
    color:var(--color_gr);
    font-size: 16px;
}

.form-group {
    margin-bottom: 15px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

.form-control {
    width: 100%;
    padding: 8px;
    border: 0px solid;
    border-radius: 80px;
    box-sizing: border-box;
    background-color: var(--color_gr);
    font-weight: bold;
    color: var(--color_db);
}

    .form-control:hover {
        cursor: pointer;
        background-color: ghostwhite;
    }

.btn {
    background-color: var(--color_red);
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 80px;
    text-decoration: solid;
    color: black;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

    .btn:hover {
        background-color: var(--color_gr);
        color: black;
    }

.btn-view {
    background-color: var(--color_db);
    color: var(--color_red);
}
    .btn-view:hover {
        background-color: var(--color_lb);
        color: black;
    }


    .btn-rate:hover {
        background-color: var(--color_lb);
        color: black;
    }

.btn-nav {
    background-color: var(--color_gr);
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 80px;
    text-decoration: solid;
    color: var(--color_db);
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
    
}

    .btn-nav:hover {
        background-color: var(--color_red);
        transition: background-color 0.3s ease, color 0.3s ease;
        text-decoration: solid;
        color: black;
    }

.cust-navbar {
    background-color: var(--color_gr) !important;
    text-decoration: solid;
    color: black;
}

.cust-marg{
    
    margin-right: 16px;

}
.cust-cards {
    background-color: var(--color_lb);
    color: black;
    text-decoration: none;
    margin-bottom: 4rem;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

    .cust-cards .btn {
        width: auto;
        white-space: nowrap;
        margin-top: 1rem;
        padding: 0.25rem 0.5rem;
    }

.cust-btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-weight: bold;
    margin-bottom: 4px;
    background-color: var(--color_gr);
    color: var(--color_db);
}
    .cust-btn:hover {
        background-color: var(--color_db);
        color: var(--color_lb);
        transition: background-color 0.3s, color 0.3s ease;
    }

.cust-high {
    color: var(--color_red);
    font-weight: bold;
}

.cust-lnk {
    color: var(--color_lb);
    font-weight: bold;
    text-decoration: underline;
}

.cust_tabletitle {
    color: var(--color_db);
    font-weight: bold;
}

.tableDBH {
    border-collapse: separate;
    border-spacing: 1.5px;
    width: 100%;
    padding: 10px;
    background-color: #455d7a;
    border: 0px solid #ddd;
    box-shadow: 0 1px 18px rgba(0, 0, 0, 0.8);
}

.tableDBB {
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
    padding: 1px;
    background-color: var(--color_gr);
    text-decoration: none;
}

.table-container {
    background-color: #f95959;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 800px;
}

