@page
@model ASPTrackTracker.Pages.Views.TrackViewModel
@{
}
<table>
    <tr>
        <td><h2>@Model.Track.Name</h2></td>
    </tr>
    <tr>
        <td><h3>Artist: </h3></td>
        <td>@Model.Track.</td>
    </tr>




</table>
<h2></h2>
<h3></h3>