@page
@model ASPTrackTracker.Pages.Tracks.TracksDBModel
@{
    ViewData["Title"] = "Tracks Data Base";
}


<head>
    <style>
        .title {
            text-align: center;
        }

        .tableDBH {
            border-collapse: separate;
            border-spacing: 10px; /* Espacio entre las celdas */
            width: 100%; /* Ancho de la tabla */
            padding: 10px; /* Espaciado alrededor del contenido de las celdas */
            background-color:darkslategray ; 
            text-decoration: bold;
        }

        .tableDBB {
            border-collapse: separate;
            border-spacing: 10px; /* Espacio entre las celdas */
            width: 100%; /* Ancho de la tabla */
            padding: 9px; /* Espaciado alrededor del contenido de las celdas */
            background-color:lightsteelblue ;
            text-decoration: none;
        }
    </style>
</head>
<form method="post">
    <body>
        <h1 class="title">Tracks Data Base</h1>
        <table class="tableDBH">
            <thead>
                <tr>
                    <th><h2>Track</h2></th>
                    <th><h2>User</h2></th>
                    <th><h2>Artist</h2></th>
                    <th><h2>Genre</h2></th>
                    <th><h2>Style</h2></th>
                    <th><h2>Stat</h2></th>
                </tr>
            </thead>
            <thead>
                <tr>
                    <th><button type="submit">Filter and Sort</button></th>
                    <th><h3><select asp-for="UserId" asp-items="Model.UserItems" class="form-control"></select></h3></th>
                    <th><h3><select asp-for="ArtistId" asp-items="Model.ArtistItems" class="form-control"></select></h3></th>
                    <th><h3><select asp-for="GenreId" asp-items="Model.GenreItems" class="form-control"></select></h3></th>
                    <th><h3><select asp-for="StyleId" asp-items="Model.StyleItems" class="form-control"></select></h3></th>
                    <th><h3><select asp-for="StatSelected" asp-items="Model.StatItems" class="form-control"></select></h3></th>
                </tr>
                
            </thead>
            <tbody class="tableDBB">
                @foreach (var track in Model.filteredTracks)
                {
                    <tr>
                        <td>@track.Name</td>
                        <td>@await Model.GetTrackUser(track)</td>
                        <td>@await Model.GetTrackArtist(track)</td>
                        <td>@await Model.GetTrackGenre(track)</td>
                        <td>@await Model.GetTrackStyle(track)</td>
                        <td>@await Model.GetTrackScoreByStat(track, Model.StatSelected)</td>
                        <td><input type="button" value="View"/></td>
                        
                    </tr>
                }
                @if (Model.filteredTracks.Count < 1)
                {
                    <tr>
                        <td>No tracks match current criteria.</td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</form>

<form method="postReset">
    <th><button type="submit">Reset Filters</button></th>
</form>

<form method="post" asp-page-handler="RateAll">
    <th><button type="submit">Rate All</button></th>
</form>


















    